<div class="updates-list-component">
  <div *ngFor="let update of updates">
    <div class="update-heading">
      <h2>{{update.title}}</h2>
    </div>
    <div class="update-body">
      <p>{{update.bodyText}}</p>
    </div>
  </div>
</div>
