a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}
a:active{
  text-decoration: none;
  color: black;
}
fa-icon{
  color: black;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:baseline;
  background: #0d47a1;
  box-shadow: 0 -2px 2px 2px #ccc;
  position:relative;
}
.icons{
  margin-left: 10px;
  margin-right: 10px;
  color:white;
}
