<footer>
  <a href="https://www.instagram.com/cyrclephone/"><fa-icon [icon]="['fab', 'instagram']" size=2x class="icons"></fa-icon></a>
  <a href="https://www.facebook.com/TheCyrclePhone/"><fa-icon [icon]="['fab', 'facebook']" size=2x class="icons"></fa-icon></a>
  <a href="https://www.twitter.com/Thecyrclephone"><fa-icon [icon]="['fab', 'twitter']" size=2x class="icons"></fa-icon></a>
  <p class="icons"><fa-icon [icon]="['fab', 'snapchat']" size=2x class="icons"></fa-icon>:TheCyrclePhone</p>
  <a href="https://www.youtube.com/channel/UCshjB0L-2t11wnpCJNcJqJA"><fa-icon [icon]="['fab', 'youtube']" size=2x class="icons"></fa-icon></a>
</footer>
