.content-body{
  min-height: 100%;
  margin-bottom: -120px;
}
.content-body::after{
  content: "";
  display: block;
}
.footer, .content-body::after{
  margin-bottom: 120px;
  min-width: 100%;
}
