<div class="faq">
  <div class="title">
    <h2>FAQs</h2>
  </div>
  <div class="question-answer">
    <div *ngFor="let faq of faqs">
      <h3>{{faq.question}}</h3>
      <h4>{{faq.answer}}</h4>
    </div>
  </div>
</div>
