<div>
  <form action="#" method="post"> <!-- action="https://thecyrclephone.us12.list-manage.com/subscribe/post?u=01a458396e37205a5745fbfec&amp;id=5981ef2f54" -->
    <h2>Subscribe to our mailing list</h2>
    <mat-form-field>
      <mat-label for="mce-EMAIL">Email Address</mat-label>
      <input matInput placeholder="Email" type="email" value="" name="EMAIL" id="mce-EMAIL" required/>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="mce-FNAME">First Name</mat-label>
      <input matInput type="text" value="" name="FNAME" id="mce-FNAME" required/>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="mce-LNAME">Last Name</mat-label>
      <input matInput type="text" value="" name="LNAME" id="mce-LNAME" required/>
    </mat-form-field>
    <mat-form-field>
      <label for="mce-PHONE_SMS"></label>
      <input matInput placeholder="Phone Number" type="text" name="PHONE_SMS" value="" id="mce-PHONE_SMS" />
    </mat-form-field>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display: none;"></div>
      <div class="response" id="mce-success-response" style="display: none;"></div>
    </div>
    <div aria-hidden="true"><input type="text" name="b_01a458396e37205a5745fbfec_5981ef2f54" tabindex="-1" value="" style="display: none;"/><input value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="display: none;" /><button mat-fab color="primary" type="submit" id="submit-button">Subscribe</button></div>
  </form>
</div>
