mat-icon{
  font-size: 24px;
  vertical-align:middle;
}
#menufab{
  color: white;
  animation-name: headerfab;
  animation-delay: 4s;
  animation-duration: 20s;
}
.nav-button-menu{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
}
@keyframes headerfab {
    0% {color: white}
    10% {color: #D7B8D3}
    20% {color: #B070A7}
    30% {color:#88297b}
    40% {color: #A9207B}
    50% {color: #CA177B}
    60% {color: #CF2152}
    70% {color: #7F4E8B}
    80% {color: #2E7BC4}
    85% {color: #83C2EB}
    90% {color: #88C39A}
    95% {color: #8cc349}
    96% {color: #9FCD67}
    97% {color: #B2D786}
    98% {color: #C6E1A4}
    99% {color: #D9EBC2}
    100% {color: #ECF5E1}
}
