<div class="nav-button-menu">
  <mat-menu #appMenu="matMenu">
    <button routerLink="" mat-fab color="accent">Home</button>
    <button routerLink="/updates" mat-fab color="accent">Updates</button>
    <button routerLink="/about" mat-fab color="accent">About Us</button>
  </mat-menu>
  <button mat-fab id="menufab" [matMenuTriggerFor]="appMenu">
    <mat-icon>arrow_drop_down_circle</mat-icon>
  </button>
</div>
